<li class="exam-questions">
  <%= question.content %>
  <ol class="exam-question-answers">
    <% question.answers.each do |answer| %>
      <li><%= answer.content %></li>
    <% end %>
  </ol>
  <div class="buttons-container">
    <%= link_to t("questions.info"), "#", class: "btn btn-primary" %>
    <%= link_to t("questions.edit"), "#", class: "btn btn-success" %>
    <%= link_to t("questions.delete"), "#", method: :delete, class: "btn btn-danger" %>
  </div>
</li>
