<% provide :title, t("exams.title.all") %>
<h1><%= t("exams.title.all") %></h1>
<div class="row">
  <div class="input-group search-box">
    <input type="text" class="form-control" placeholder="<%= t("exams.search_for") %>">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <%= t("exams.search") %>
      </button>
    </span>
  </div>
</div>
<div class="exam-container">
  <%= render(@exams) || t("exams.no_result_was_found_html") %>
  <div class="pagination-container">
    <%= will_paginate @collection, previous_label: t("previous"), next_label: t("next")%>
  </div>
</div>
