<% question = question_form.object %>
<li class="exam-questions user-exam-questions">
    <% if question.single? %>
      <strong><%= question.content %></strong>
      <% question.answers.each do |answer| %>
        <div class="radio <%= class_for_answer(@user_answer_ids, answer) %>">
          <%= question_form.label %(answers_#{answer.id}) do |label| %>
            <%= question_form.radio_button(:answers, answer.id, checked: @user_answer_ids.include?(answer.id), disabled: true) %>
            <%= answer.content %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <strong><%= question.content %></strong>
      <span><%= t("user_exams.multi_choice") %></span>
      <% question.answers.each do |answer| %>
        <div class="checkbox <%= class_for_answer(@user_answer_ids, answer) %>">
          <%= question_form.label %(answers_#{answer.id}) do |label| %>
            <%= question_form.check_box :answers, { multiple: true, checked: @user_answer_ids.include?(answer.id), disabled: true }, answer.id, nil %>
            <%= answer.content %>
          <% end %>
        </div>
      <% end %>
    <% end %>
</li>
