<% provide :title, t("sessions.login") %>
<h1><%= t("sessions.login") %></h1>

<div class="login-containner">
  <%= form_for :user, url: signup_path do |f| %>
    <%= f.label :email, t("sessions.email") %><br />
    <%= f.email_field :email, autofocus: true, class: "form-control" %>

    <%= f.label :password, t("sessions.password") %><br />
    <%= f.password_field :password, class: "form-control" %>

    <% if devise_mapping.rememberable? %>
      <%= f.label :remember_me, class: "checkbox inline" do %>
        <%= f.check_box :remember_me %>
        <span><%= t("sessions.remember_me") %></span>
      <% end %>
    <% end %>

    <div class="login-btn">
      <%= f.submit t("sessions.login"), class: "btn btn-primary login-btn" %>
    </div>
  <% end %>
</div>
