<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script type="text/javascript">
      var LOCALE = "<%= I18n.locale %>";
    </script>
    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <%= raw custom_bootstrap_flash %>
    <%= render "layouts/header" %>
    <% if logged_in? %>
      <% if current_user.supervisor? %>
        <div id="dashboard">
          <%= render "layouts/dashboard" %>
        </div>
        <div id="content">
          <%= yield %>
        </div>
      <% elsif %>
        <div class="container">
          <%= yield %>
        </div>
      <% end %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
